/* \
Colors used
    Yellow Shades
      1. #fab005
      2. #fff9db
      3. #fff3bf

    Green shades
      1. #fff9db
      2.
*/
/* app-filtertab {
  float: left;
  z-index: 1;
}
app-search {
  float: right;
  width: auto;
} */
/* z-index: 0; */
/* #container {
  display: grid;
  grid-template-columns: minmax(0, max-content) 1fr;
  grid-template-rows: 1fr auto;
}
app-filtertab {
  grid-row: 1/-1;
  grid-column: 1/2;
  
}
app-search {
  grid-row: 1/2;
  grid-column: 2/3;
}
app-cards-component {
  grid-row: 2/-1;
  grid-column: 2/3;
} */
/* app-filtertab {
  float: left;
  z-index: 99;
}
.container {
  float: left;
  display: flex;
  flex-direction: column;
} */
