/* You can add global styles to this file, and also import other style files */
@import "~node_modules/bootstrap/dist/css/bootstrap.css";
body {
  background-color: #fff9db;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  width: 100%;
  min-width: 250px;
}
::selection {
  background-color: #66a80f;
  color: #fff9db;
}
::-webkit-scrollbar {
  width: 4px;
  color: #66a80f;
}
::-webkit-scrollbar-thumb:hover {
  width: 12px;
  color: #66a80f;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: #66a80f;
}
